@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  vertical-align: baseline;
  font-family: "Inter", sans-serif;
  list-style: none;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

input:focus {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
}

@layer components {
  .filter-section {
    @apply mx-4 mb-8;
  }

  .large-button {
    @apply text-base font-semibold text-gray-400 px-8 py-2 rounded;
  }

  .filter-gray-button {
    @apply bg-gray-300 hover:bg-gray-400 hover:text-gray-200;
  }

  .filter-title {
    @apply text-2xl font-semibold text-black mb-4 capitalize;
  }

  .active-filter-gray-button {
    @apply bg-black text-gray-50 hover:bg-gray-700 hover:text-gray-100;
  }

  .reset-button {
    @apply bg-indigo-800 text-gray-50 hover:bg-indigo-600 self-center;
  }
}
